.typography-set {
    padding: 0.8rem 2rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    color: #222222
}

.typography-set--item {
    display: flex;
    align-items: center;
}

.typography-set--item .typography-set--item--attributes {
    padding: 0.5rem 1.25rem;
    margin-right: 2rem;
    border-right: 1px solid #dddddd;
    flex-basis: 12%;
}

.typography-set--item--attributes span {
    display: block;
    white-space: nowrap;
    font-weight: 500;
    color: #696969
}

.typography-set--item--attributes span.name {
    font-weight: 600;
    color: #222222
}

.typography-set p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}